*.xcbkptlist
*.o

.DS_Store

NetTest/NetTest/Server/pollC
NetTest/NetTest/Server/pollS

xcuserdata
xcuserstate/*
*.xcuserstate
*.xcuserstate/*
xcshareddata
/LameTest/LameTest/Win32/*.ncb
Pods
iOS-Categories
