*.xcbkptlist
*.o

.DS_Store

NetTest/NetTest/Server/pollC

NetTest/NetTest/Server/pollS

*.xcuserstate

MyTestAll/MyTestAll.xcodeproj/project.xcworkspace/xcuserdata/uistrong.xcuserdatad/UserInterfaceState.xcuserstate

MyTestAll/MyTestAll.xcodeproj/project.xcworkspace/xcuserdata/uistrong.xcuserdatad/UserInterfaceState.xcuserstate

/LameTest/LameTest/Win32/*.ncb
